* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player {
    position: relative;
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

video {
    width: 60%;
    margin: 0 auto;
}

.control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 60%;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, rgba(141, 89, 89, 0.6), transparent);
    transform: translateY(150%);
    transition: 1s;
}

.player:hover .control {
    transform: unset;
}

.control>* {
    margin: 0 2px;
}

.control .progress {
    background: white;
    height: 5px;
    position: relative;
    flex: 1;
}

.control .progress-filled {
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}